#animation{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 3s linear;
    width: 100px;
    height: 100px;
}

*{margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
color: aliceblue;
}
body{
    background-color:rgb(54, 54, 54) ;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

#namelogo{
  
    color: aliceblue;
    
}
#colorSpan{
    color: blueviolet;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: aliceblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}
nav ul li a:hover::after{
    width: 100%;
    
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.about{
    padding: 40px 0;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-lefthalf{
    flex-basis: 40%;
}
.about-lefthalf img{
    border-radius: 2px;
    width: 100%;

}
.about-righthalf{
    flex-basis: 55%;
}
.links{display: flex;
margin: 20px 0 40px;}
.link{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: blueviolet;
}
.link::after{
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    background: aliceblue;
    position: absolute;
    bottom: -6px;
    transition: 0.8s;
}
.link:hover::after{
    width:100%;
}
.link.activelink::after{
    width: 50%;
}
.contents ul li{
    list-style: none;
    margin: 12px 0;
}
.contents ul li span{
    color: blueviolet;
    font-size: 16px;
}
.contents{
    display: none;
}

.contents.activetab{
    display: block;
}

.container.service{
    
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
}
h1{
    padding-top: 40px ;
    padding-bottom: 0;
    
    }


.listservices{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    padding-bottom: 40px;
    margin-top:50px;


}

.listservices div{
    padding: 35px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    background: rgb(83, 82, 82);
    transition: background 0.5s, transform 0.5s;
    text-align: center;
   
   
    
    

}
.listservices div i {
    font-size: 45px;
    margin-bottom: 20px;

}
.listservices div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.listservices div  a{
    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.listservices div:hover{
    background-color: rgb(86, 41, 191);
    transform: translateY(10px);
}


.container.portfolio{
    
    width: 100%;
    background: linear-gradient(to bottom, #000000, rgb(54, 54, 54));
    background-size: cover;
    background-position: center;

}
.portfoliolist{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    padding-bottom: 40px;
    margin-top:50px;


}

.projects{
    
    position: relative;
    overflow: hidden;
}
.projects img{
  width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform(0.8s);
  }

  .portfoliodiv{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.05),blueviolet);
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    font-size: 14px;
    transition: height 0.8s;
  }

  .portfoliodiv h3{
    font-weight: 600;
    margin-bottom: 20px;

  }

  .portfoliodiv a{
    margin-top:20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .projects:hover img{
    transform:scale(1.1);

  }
  .projects:hover .portfoliodiv{
  height: 100%;
  

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid blueviolet;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
    background: none;
    transition: background 0.5s;

}

.btn:hover{
    background: blueviolet;
    color: aliceblue;
}

.contact .container{
    width: 100%;
    height: auto;
    background-image: url(background2.jpg);
    background-size: cover;
    background-position: center;
}

.contact-left{
    flex-basis: 35%;
}
.contact-left p{
   margin-top: 15px;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    
}
.socials{
    margin-top: 25px;
  

     
}
.socials a{  
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.5s;
}
.socials a:hover{
    transform:translateY(5px);
}
.btn.btn2{
    display: inline-block;

}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    border-radius: 15px;
    width: 100%;
    border: 0;
    outline: 0;
    background: aliceblue;
    color: #000000;
    padding: 15px;
    margin:15px 0;
}

form .btn2{
    margin-top: 20px;
    cursor: pointer;
}
nav .fa-solid{
    display: none;

}
/* only works when screen has max 600px*/

@media only screen and (max-width:600px){

nav .fa-solid{
    display:block;
    font-size: 30px;
}
nav ul{
    background: black;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 40px;
    z-index: 2;
    transition: right 0.8s;

}
nav ul li{
    display: block;
    margin: 25px;

}
nav ul .fa-solid{
    position: absolute;
    top:25px;
    left: 25px;
    cursor: pointer;
}

}
